@use "cssreset";
@use "attribution";
@use "variables" as v;
@use "fonts" as f;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: v.$light-grayish-blue;
  color: v.$very-dark-grayish-blue;
}

.card {
  margin: 1.5rem;
  background-color: v.$white;
}

.illustration__image {
  width: 100%;
  aspect-ratio: 1.64 / 1;
  object-fit: cover;
}

.card__article {
  padding: 2em;
}

.article__title {
  line-height: 1.25em;
}

.article__share--toggle {
  display: none;
}
