@use "cssreset";
@use "attribution";
@use "variables" as v;
@use "fonts" as f;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: v.$light-grayish-blue;
  color: v.$very-dark-grayish-blue;
}

.card {
  margin: 1.5rem;
  border-radius: 0.5rem;
  background-color: v.$white;
}

.illustration__image {
  width: 100%;
  aspect-ratio: 1.64 / 1;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card__article {
  padding: 2rem 2rem 1rem 2rem;
}

.article__title {
  line-height: 1.25em;
}

.article__description, .article__publish-date {
  color: v.$desaturated-dark-blue;
}

.card__footer {
  // padding-top; padding-right; padding-bottom; padding-left;
  padding: 1rem 2rem 1rem 2rem;
  position: relative;
}

.footer__attribution {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
}

.attribution__author--profile-picture {
  height: 2.5rem;
  border-radius: 100%;
}

.attribution__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attribution__author--name,
.attribution__publish-date {
  margin: 0;
  font-size: 0.75rem;
}

.attribution__share--button {
  align-self: center;
  margin-left: auto;
  background-color: v.$light-grayish-blue;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  align-content: center;
  justify-content: center;
  img {
    margin: auto;
    height: 1rem;
    width: 1rem;
    display: block;
  }
  z-index: 1;
}

.attribution__share--toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: v.$very-dark-grayish-blue;
  color: v.$grayish-blue;
  height: 100%;
  min-width: 100%;
  padding: 1.375rem;
  padding-left: 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  img {
    height: 1.25rem;
  }
}

.share__text {
  margin: auto 0;
  letter-spacing: 0.3076em; // 4px
}

.hidden {
  display: none;
}